<!DOCTYPE html>
<html>
{{>head}}
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <p>This site was created by {{name}}. It uses data from mapbox.com and darksky.api</p>
    {{>footer}}
</body>
</html>