<!DOCTYPE html>
<html>
{{>head}}

<body>
    
    <div class="main-content">
        {{>header}}
        <form action="submit">
            <input placeholder="請輸入地名，例：台北">
            <button>查天氣</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <img class="portrait" src="/img/globe.jpeg" alt="">
    </div>

  
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>