<!DOCTYPE html>
<html>
{{>head}}

<body>
    
    <div class="main-content">
        {{>header}}
        <form action="submit">
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    <img class="portrait" src="/img/test.jpg" alt="">
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>